<div class="container">
  <h1>Enter your names!</h1>
  <form action="/game" method="post">
    <input type="text" placeholder="Player 1" name="player1[name]">
    <input type="text" placeholder="Player 2" name="player2[name]">
    <input type="submit" value="Start game!">
  </form>
</div>
